@font-face {font-family: 'Open Sans';font-style: normal;font-weight: 400;src: local('Open Sans Regular'), local('OpenSans-Regular'),  url('/static/fonts/open-sans-v15-latin-regular.woff2') format('woff2'),  url('/static/fonts/open-sans-v15-latin-regular.woff') format('woff');}
@font-face {font-family: 'Open Sans';font-style: normal;font-weight: 600;src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),  url('/static/fonts/open-sans-v15-latin-600.woff2') format('woff2'),  url('/static/fonts/open-sans-v15-latin-600.woff') format('woff');}
@font-face {font-family: 'Open Sans';font-style: normal;font-weight: 700;src: local('Open Sans Bold'), local('OpenSans-Bold'),  url('/static/fonts/OpenSans-Bold-webfont.woff') format('woff'); }
*{box-sizing:border-box;outline: 0!important;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:14px;vertical-align:baseline;background:transparent;}
body{line-height:1;}
ul,ol{list-style:none}
blockquote, q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
:focus{outline:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}

/* body */
body{margin:0 auto;max-width:100%;height:100%;color:#111;-webkit-font-smoothing:antialiased;font-smooth:always;font-family:"Open Sans",tahoma,Arial,sans-serif;font-weight:400;line-height:22px;font-size:14px}
html,body,button,input,select,textarea{}
button,input,select,textarea{font-size:100%;font-weight:400;font-family:"Open Sans",tahoma,Arial,sans-serif;}
a{text-decoration:none;color:#111}
a:hover{text-decoration:none;color:#bf0711}
hr{border:0;height:1px;border-top:1px dotted #ccc}
html{overflow-y:scroll}
h1{font-size:18px}
h2{font-size:16px}
h3{font-size:16px}
h4{font-size:14px}
h5{font-size:14px}
img{max-width:100%}

/* webkit */
html,body{-webkit-text-size-adjust:none;}

/* fix */
.fix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.fix{display:inline-block;}
*html .fix{height:1%;}
.fix{display:block;}

/* inline-block */
.inline-block{display: inline-block;*display: inline;*zoom: 1;}

/* class */
.clear{clear:both;}
.hide{display:none}
.show{display:block}
.fl{float:left;}
.fr{float:right;}
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.vt{vertical-align:top;}
.vm{vertical-align:middle;}
.vb{vertical-align:bottom;}
.b,.bold{font-weight:bold;}
.normal{font-weight:normal;}
.em{font-style: italic;}
.relative{position:relative;}
.absolute{position:absolute;}
.u{text-decoration: underline;}
.red{color:red}
svg{float:left;}

.text-line2 {  overflow: hidden;  text-overflow: ellipsis;  display: -webkit-box;  -webkit-line-clamp: 2;  -webkit-box-orient: vertical;  display: -moz-box;  -moz-line-clamp: 2;  -moz-box-orient: vertical;  word-wrap: break-word;  word-break: break-all;  white-space: normal;    }

.display-table-xs{display:table;width:100%}
.display-table-xs>*{display:table-row;height:100%}
.display-table-xs>*>*{height:100%;display:table-cell;float:none;vertical-align:middle}
.display-table,.display-table>*,.display-table>*>*{display:block}
.display-table{display:table}
.display-table:not(.container){width:100%}
.display-table>*{display:table-row;height:100%}
.display-table>*>:not(.visible-xs){height:100%;display:table-cell;float:none;vertical-align:middle}

/* base */
#toper{background:#f9ebe0;color:#e3442b;height:32px;line-height:32px;padding:0 10px;font-size:12px;text-align:center;position:relative;}
#toper .span{vertical-align:middle;height:32px;display:inline-block;color:#e3442b;margin:0 10px;font-size:12px;text-transform:uppercase;}

#naver{color:#000;background:#fdf6f0;}
#naver .iner{position:relative;margin:0 auto;max-width:1280px}
#naver .navtool{display:none;}
#naver .navs {float:left;width:100%;text-align:center;}
#naver .navs .li0{height:40px;line-height:40px;*float:left;position:relative;text-align:center;display:inline-block;}
#naver .navs .a0{display:inline-block;width:100%;color:#000;font-weight:400;line-height:40px;font-size:15px;padding:0 30px;text-transform:capitalize;text-decoration:underline;}
#naver .navs .a0:hover{color:#e3442b;}
#naver .subnavs{display:none;position:absolute;top:40px;left:0;min-width:450px;z-index:10;background:#fff;padding:15px;border:1px solid #eee;text-align:left;box-shadow:0px 1px 5px #666;}
#naver .navs .li0:hover .subnavs{display:block;}
#naver .subnavs .a1{color:#333;line-height:26px;white-space:nowrap;font-size:14px;overflow:hidden;text-overflow:ellipsis;}
#naver .subnavs .a1:hover{text-decoration:underline;color:#e00}
#naver .subnavs .li1{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
@media only screen and (min-width: 640px) {
	#naver .subnavs .li1{line-height:30px;float:left;width:50%;}
}

#header{position:relative;z-index:2;min-height:70px;background:#fdf6f0;}
#header .iner{margin:0 auto;max-width:1280px;position:relative;text-align:center;padding:15px 0 10px;}
#header .logolink{display:inline-block;}
#header .logolink img{max-height:70px;}
#header .hleft{position:absolute;left:10px;top:10px;}
.mobile-toggle{display:inline-block;width:48px;height:48px;cursor:pointer;display:none;}
.mobile-toggle span{width:18px;height:1.5px;background:#666;position:absolute;border-radius:1px;top:18px;left:15px}
.mobile-toggle span:nth-child(1){transform-origin:top left}
.mobile-toggle span:nth-child(2){top:23px}
.mobile-toggle span:nth-child(3){transform-origin:top left;top:28px}
#header .hright{position:absolute;right:10px;top:30px;}
#header .hright a{float:left;width:40px;height:40px;line-height:40px}
#header .hright a svg{width:40px;height:40px}
#header .hright a i{font-size:24px}
#header .hright a .fa{color:#666;font-size:20px;}
#header .hright .hcurrency{float:left;margin-top:5px;margin-left:10px;height:30px;border:1px solid #ddd;padding:0 5px;border-radius:1px;background:none}

#topsale{background:#a7aef0;}
#topsale a{color:#fff;text-align:center;display:block;padding:28px 0 25px;}
#topsale span{text-transform:uppercase;font-size:26px;}
#topsale strong{text-transform:uppercase;font-size:26px;}
#topsale em{font-size:14px;font-style:normal;}
#topsale button{height:40px;background:#fff;border-radius: 5px;color:#000066;border:0;padding:0 15px;font-weight:600;margin-left:50px;font-size:14px;font-family:"Open Sans";}

#searchbox{position:absolute;z-index:10;left:0;width:100%;background:#faf6f6;box-shadow: 1px 1px 3px #999;display:none;}
#searchbox .iner{margin:0 auto;max-width:1280px;padding:15px;}
#searchbox form{width:100%;height:40px;border:0;position:relative;background:#fff;}
#searchbox input{background:none;border:0;line-height:40px;width:100%;padding:0 50px 0 10px}
#searchbox button{position:absolute;top:0;right:5px;width:40px;height:38px;border:0;background:none;font-size:20px;cursor:pointer;}
#searchbox button .fa{color:#888;font-size:18px}

#banners{width:100%;overflow:hidden;position:relative;z-index:1;margin-top:5px;text-align:center;}
.swiper-wrapper{display:block;white-space:nowrap;position:relative;}
.swiper-slide{display:inline-block;text-align:center;}
.swiper-slide img{max-width:100%}
.swiper-button-next{float:right;display:inline-block;transform: rotate(90deg);cursor:pointer;margin:8px 3px 0;}
.swiper-button-prev{float:right;display:inline-block;transform: rotate(-90deg);cursor:pointer;margin:8px 3px 0}
.swiper-pagination{position:absolute;z-index:20;left:0;bottom:20px;width:100%;text-align:center;}
.swiper-pagination span{margin:17px 3px 0;cursor:pointer;width:10px;height:10px;display:inline-block;background: #fff;border-radius:30px;}
.swiper-pagination span.swiper-pagination-bullet-active{background: #123570}

.salebar{text-align:center;margin:20px 0}
.salebar img{max-width:100%}

.h100{height:100%}
.h50{height:50%}
.w100{width:100%}
.w50{width:50%;float:left;}
.l5{padding-left:5px;}
.r5{padding-right:5px}
.b5{padding-bottom:5px}

#lastblog{background:#fff;padding:30px 2% 50px;}
#lastblog .inner{margin:0 auto;}
#lastblog .title{font-size:20px;padding:11px;margin:0 0 11px;font-weight:600;text-align:center;color:#333f48;}
#lastblog .con{color:#000;}
#lastblog .col{float:left;width:25%;padding:5px}
#lastblog .image{width:100%;height:340px;background-position:center;background-size: cover;margin-bottom:10px}
#lastblog .image a{display:block;width:100%;height:100%}
#lastblog .date{font-size:12px;color:#333}
#lastblog .name{margin:10px 0;font-size:17px}
#lastblog .detail{line-height:21px;height:42px;font-size:12px}

.termtoggle .tit{cursor:pointer;margin-bottom:10px}
.termtoggle .txt{display:none;}

.lister{padding:0}
.lister .inner{margin:30px auto;max-width:1400px}
.lister .title{text-align:center;display:none;}
.lister .title h2{font-size:22px;display:inline-block;padding:11px;margin:0 0 11px;color:#333f48;font-weight:600;}
.lister .title .more{float:right;color:#666;text-decoration:underline;margin:15px 10px 10px;display:none;}
.lister .col{float:left;width:20%;padding:10px;margin-bottom:15px}
.lister .col a{display:block;}
.lister .col a .img{height: 250px;overflow: hidden;}
.lister .col img{width:80%;margin:8px 10% 5px}
.lister .col .info .name{margin:5px 0 10px;padding:0 10px;color:#333;font-size:12px;line-height:18px;overflow:hidden;height:36px;text-align:center;}
.lister .col-1{float:left;width:33.333%;padding:3px;}
.lister .col-1 a{display:block;height:496px;border:0;background-size: cover;background-repeat: no-repeat;background-position: center;}
.lister .col-1 a img{margin:0}
.lister .col .info .price{padding:0 10px;text-align:center;}
.lister .col .info .price del{color:#aaa;font-size:12px}
.lister .col .info .price span{color:#333;font-size:16px;font-weight:600}
.lister .col .info .price em{color:#999;font-size:12px;font-style:normal;display:block;line-height:20px;display:none;}
.lister .col .info .time{margin:0;padding:0 8px;color:#888;text-align:center;}
.lister .col .info .time-icon{margin-right:3px;vertical-align:-1px;}
.lister .col .info .time span{font-family:tahoma,arial,sans-serif;font-weight:300;font-size:12px}

.site-list-h1{display:none;}
.site-list{margin:0 auto;}
.site-list h3{text-align:center;font-size:20px;margin-bottom:10px;}
.list-item{float:left;width:20%;padding:10px;margin-bottom:15px}
.list-item .img{display:block;width:100%;text-align:center;position:relative;}
.list-item .img img{max-width:96%;margin:8px 2% 5px;max-height:250px}
.list-item .title{display:block;margin:5px 0 10px;padding:0 10px;color:#333;font-size:12px;line-height:18px;overflow:hidden;height:36px;text-align:center;}
.list-item .price{padding:0 10px;text-align:center;}
.list-item .price del{color:#aaa;font-size:12px}
.list-item .price span{color:#333;font-size:16px;font-weight:600}
.list-item .price em{color:#999;font-size:12px;font-style:normal;display:block;line-height:20px;display:none;}
.list-item .time{margin:0;padding:0 8px;color:#888;text-align:center;display:none;}
.list-item .time-icon{margin-right:3px;vertical-align:-1px;}
.list-item .time span{font-family:tahoma,arial,sans-serif;font-weight:300;font-size:12px}

.list-item .img{height:250px;overflow:hidden;}
.list-item .img img{max-height:250px;}

#footer{background:none;color:#333;font-weight:400;margin-top:10px;font-size:12px;padding:20px 0;border-top:2px solid #eee}
#footer .iner{margin:0 auto;max-width:1280px;margin-bottom:30px;text-align:center;}
#footer .fbox{float:left;width:25%;text-align:left;padding:30px;color:#333;font-size:15px;vertical-align:top;}
#footer .fbox h5{color:#333;font-size:16px;margin-bottom:20px;font-weight:600;text-transform:uppercase;}
#footer .fbox li{font-size:12px;line-height:20px;margin-bottom:8px;font-weight:400}
#footer .fbox li a{color:#333;font-size:13px;}
#footer .fbox p{line-height:30px}
#footer .fbox div{font-size:12px;}
#footer .fbox4 a{margin:0 3px}
#footer .fbox4 a i{font-size:30px;color:#aaa}
#footer .fbox4 a:hover i{color:#a00}

#footer .fline{text-align:center;margin:10px 0}
#footer .copyright{text-align:center;font-size:12px;color:#999;margin:10px 0}

#getoff{position:fixed;z-index:20;right:10px;bottom:20px;padding:15px 20px;background:#09285c;border-radius:15px;box-shadow:0px 1px 4px #666;}
#getoff .a{color:#eee;font-size:16px;position:relative;padding-right:20px;font-weight:600}
#getoff .a a{display:block;color:#fff;font-size:16px;}
#getoff .a .fa-close{position:absolute;top:30%;right:-5px;color:#ccc;cursor:pointer;}
#getoff .b{}

.main-bar{margin:0 auto;min-height:470px;max-width:1440px}
.main-page{padding:10px;}
.main-page h1{font-size:20px;margin:30px 0;color:#333f48;font-weight:600;text-align:center;}
.main-page .inner{font-weight:400;font-size:16px;line-height:1.75;margin-bottom:0}
.center{text-align:center;}
.bgff{background:#fff;padding-bottom:50px}
.page-text p{font-size:16px;line-height:30px}

.contactpage{padding:10px;margin:0 auto;max-width:800px;text-align:center;}
.form-group{line-height:30px;margin-bottom:20px}
.form-control{padding:5px;font-weight:400}
.contactpage .form-control{width:320px}

.btn{cursor:pointer;}
.btn-contact{background:#6dad3d;color:#fff;padding:10px 20px;border:0;font-size:15px;text-transform:uppercase;text-shadow:none;transition: all .3s;}

.main-list__pagination{display:block;width:100%;margin:20px 0;text-align:center;padding:10px 0}
.main-list__pagination li{display:inline-block;}
.main-list__pagination a, .main-list__pagination span{display:inline-block;font-weight:400;color:#666;background:none;font-size:16px;width:30px;line-height:30px;text-align:center;padding:0 !important;border:0;margin:0 2px;}
.main-list__pagination li.active>a, .main-list__pagination li.active>span{color:#fff !important;background:#222 !important;}

.site-prod{margin-top:20px}
.prod-left{float:left;width:50%;text-align:center;padding:20px;}
.prod-left img{max-height:500px}
.prod-right{float:left;width:50%;padding:10px}
.prod-right h1{text-transform:uppercase;font-size:14px;line-height:20px;text-transform:capitalize;font-weight:600;color:#18335b;margin:10px 0;text-align:left;}
.prod-price2{font-size:18px;line-height:30px;margin-bottom:20px;padding-bottom:20px;border-bottom:1px solid #cecece;}
.prod-price2 *{vertical-align:middle;}
.prod-price2 span{color:#000;font-weight:500;font-size:20px}
.prod-price2 del{color:#aaa;margin-left:3px;margin-right:3px;font-weight:400;font-size:15px}
.prod-price2 .inline-block{clear:both;display:inline-block;font-weight:400;line-height:20px;color:#e94030;padding:0 8px;margin:8px 0;vertical-align:middle;}
.prod-price2 .off{display:inline-block;color:#e94030;font-size:16px;vertical-align:1px;}
.prod-price2 .only{color:#fff;font-size:13px;vertical-align:1px;}
.prod-price2 .only i{vertical-align:-1px;}
.prod-h2{color:#888;font-size:12px;margin-bottom:5px}

.prod-right label{display:block;color:#000;font-weight:600;font-size:14px;margin:2px 0}
.prod-right .form-control{min-width:100px;border:1px solid #ccc;padding:10px 21px 10px 10px;margin-bottom:5px;color:#888}
.prod-btn{width:100%;max-width:300px;padding:12px 50px;font-size:16px;background: #5356ee;border:0;color:#fff;border:0;margin:10px 0;cursor:pointer;font-weight:600;border-radius: 3px;}
.prod-btn:hover{background:#383be1}
.prod-form{padding-bottom:20px}
.prod-detail{padding:10px 0;border-top:1px solid #cecece;margin-top:20px}
.prod-detail h4{text-transform:uppercase;font-size:14px;margin-bottom:15px;font-weight:500}
.prod-detail .inner{font-weight:400;font-size:13px}
#prod-deals img{max-width:100%;}

.prod-desc{padding:10px 0;border-top:1px solid #cecece;margin-top:20px}
.prod-desc h4{font-size:20px;display:block;padding:11px;margin:0 0 11px;color:#333f48;font-weight:600;text-align:center;}
.prod-desc .inner{font-weight:400;font-size:13px;text-align:center;}
.prod-color{margin-bottom:10px}
.prod-color label span{color:red}
.prod-color .color-box{display:inline-block;margin:5px}
.prod-color .color-box img{width:50px;max-height:50px;border:1px solid #ddd;padding:5px;border-radius:3px;}
.prod-color .color-box.active img{border-color:red}
.prod-color .color-box2{display:inline-block;margin-right:5px;border:1px solid #ccc;padding:0 10px;border-radius:3px;line-height:40px}
.prod-color .color-box2.active{border-color:red}

.site-relate{border-top:1px solid #eee;}
.site-relate h4{font-size:20px;display:block;padding:11px;margin:0 0 11px;color:#333f48;font-weight:600;text-align:center;}
.site-relate .list-item .title{font-size:12px}
.prod-option{position:relative;margin-bottom:8px}
.prod-guide{position:absolute;top:6px;right:10px;color:#a41d23;text-transform:uppercase;cursor:pointer;line-height:13px;font-size:12px;font-weight:400}
.prod-guide svg{margin-right:5px;}
.main-size{position: fixed;top:0;left:0;width:100%;height:100%;background-color: rgba(19, 19, 19, 0.6);z-index:150;display:none;}
.main-size__box{position:fixed;width:50%;height:90%;top:5rem;left: 50%;max-width: calc(100vw - 15rem);max-height: calc(100vh - 8rem);background: #fff;border-radius: 0.4rem;transform: translate(calc(-50% - 0.05rem), 0px);overflow-y:auto;}
.main-size__close{position:absolute;top:15px;right:18px;}
.size-box{padding:10px}
.size-box__tab{border-bottom:2px solid #eee;display:block;min-height:30px;margin-bottom:10px;}
.size-box__tab a{display:inline-block;line-height:30px;background:#eee;padding:0 10px;font-size:13px;margin-right:5px;color:#666;text-decoration:none;}
.size-box__tab a.on{background:#aaa;color:#fff}
.size-box__main .table-wrapper{display:none;}
.size-box__main .table-wrapper.on{display:block;}
.size-box__main caption{text-align:center;padding-bottom:5px;font-weight:600}
.size-box__main table{text-align:center;border:0;white-space:nowrap;margin:10px auto;width:100%}
.size-box__main table td{padding:5px !important;white-space:nowrap;text-align:center;font-size:13px !important}
.size-box__main table tr th{padding:8px;font-weight:400;white-space:nowrap;font-size:14px;text-align:center;color:#fff !important}
.size-box__main table>thead>tr{background-color:#111;color:#fff}
.size-box__main table>tbody>tr:nth-child(odd){background:#f5f6f8}
.size-box__main table tbody td{border-left:1px solid #eee;font-weight:400;color:#666}
.size-box__main table>thead>td{background-color:#111;color:#fff}
.size-box__main table td:first-child{border-left:0}
.size-box__main table tbody tr:hover{background:#ddd !important}
.size-box__main table thead .td_hover{background:#444 !important}
.size-box__main table tbody td:hover{background:#ccc !important;color:#fff !important}

.prod-accordion{padding:5px;}
.accordion-box{margin-bottom:10px;font-weight:400;color:#222}
.accordion-box h5{line-height:30px;font-weight:400;vertical-align:middle;font-size:15px;cursor:pointer;}
.accordion-box h5 i{float:none;color:#18335b;font-size:20px;vertical-align:-3px;margin-right:3px}
.accordion-box h5 .a{float:right;margin-top:2px}
.accordion-box h5 .b{float:right;margin-top:2px;display:none;}
.accordion-box p{font-size:13px;line-height:22px;padding-left:22px;display:none;color:#888}
.accordion-box.active h5 .a{display:none;}
.accordion-box.active h5 .b{display:block;}
.accordion-box.active p{display:block;}

.main-page__cart{margin:0 auto;max-width:1200px;min-height:400px;background:#fff}
.main-cart table,
.main-cart th,
.main-cart td{border:1px solid #ccc;font-size:12px;vertical-align:middle;padding:10px}
.main-cart th{background:#f4f4f4;font-weight:500;}
.main-cart td img{height:60px;width:auto}
.main-cart__left{float:left;width:68%;}
.main-cart__right{float:right;width:30%;border:1px solid #ccc}
.main-cart__table{width:100%}
.main-cart__table p{font-weight:400}
.main-cart__del{position:absolute;top:5px;right:5px;color:red;cursor:pointer;}
.main-cart__right h5{height:36px;line-height:36px;background:#f4f4f4;border-bottom:1px solid #ccc;text-align:center;font-weight:400;text-transform:uppercase;}
.main-cart__right ul{padding:10px;font-weight:400}
.main-cart__right li{line-height:30px;height:30px}
.main-cart__right li .label{float:left;}
.main-cart__right li .value{float:right;}
.main-cart_taxes{line-height:28px;font-weight:400;padding-left:10px}
.main-cart_btns{border-top:1px solid #eee;padding:10px}
.main-cart_btn{height:44px;line-height:44px;text-align:center;color:#fff !important;background:#e14638;font-weight:600;display:block;width:100%;font-size:16px;cursor:pointer;border-radius:2px;}
.main-cart_btn:hover{opacity:0.9}
.main-cart__instructions{margin-top:10px}
.main-cart__instructions h5{line-height:36px;font-weight:400;}
.main-cart__instructions textarea{width:50%;padding:5px;border:1px solid #eee}

.main-page__checkout{background:#fff;margin:0 auto;max-width:1200px}

.col-sm-6{float:left;width:50%}
.main-checkout__left{float:left;width:50%;padding:10px 5%}
.main-checkout__p{font-weight:400;color:#999;font-size:12px;text-align:center;margin-bottom:10px}
.main-checkout__p a{color:#999}
.main-page__checkout h4{line-height:36px;font-weight:400;font-size:15px;color:#333;text-transform:uppercase;padding:10px;position:relative;text-align:center;}
.main-page__checkout h4:after{content:'';position:absolute;top:50%;left:0;width:100%;height:0;border-bottom:1px solid #333;z-index:1}
.main-page__checkout h4 span{display:inline-block;padding:0 20px;background:#fff;z-index:2;position:relative;}
.main-checkout__left .rows{padding:10px}
.main-checkout__left .form-group{padding:0 5px;font-weight:400;color:#333;margin-bottom:5px}
.main-checkout__left .form-control{width:100%;border:1px solid #ccc;border-radius: 5px;padding:5px 10px;height:42px;color:#666;font-weight:400}
.main-checkout__left .form-control:focus{outline:0;}
.main-checkout__left .form-control::-moz-placeholder{color:#aaa;opacity:1}
.main-checkout__left .form-control::-ms-input-placeholder{color:#aaa}
.main-checkout__left .form-control::-webkit-input-placeholder{color:#aaa}
.main-checkout__left textarea.form-control{height:50px}
.main-checkout__right{float:left;width:50%;padding:10px 5%}
.main-checkout__order{font-weight:400}
.main-checkout__order table{border:1px solid #eee;width:100%}
.main-checkout__order th,
.main-checkout__order td{font-weight:400;border:1px solid #eee;padding:5px;text-align:center;font-family:tahoma,arial,sans-serif;}
.main-checkout__order th{color:#000}
.main-checkout__order td{color:#888;font-size:12px;}
.main-checkout__order .total3 td{color:red;font-size:14px;#000;padding:10px 5px}
.main-checkout__btn{width:100%;color:#fff !important;background:#e14638 !important;border-radius:3px;font-size:16px;border:0;text-align:center;font-weight:600;line-height:44px;height:50px !important}
.main-checkout__btn:hover{opacity:0.9}
.failure{margin:0 auto;max-width:800px;text-align:center;font-weight:400;border:1px solid #f5e6e6;color:#e00;line-height:20px;padding:6px 0;margin-bottom:10px}

.main-login__box{text-align:center;display:none;}
.main-login__box div{display:inline-block;border:1px solid #eee;padding:20px 10px;min-width:50%;background:#fafafa;position:relative;}
.main-login__box .form-control{border:1px solid #ccc;min-width:250px}
.main-login__box .btn1{background:#000;color:#fff;border:0;font-weight:400;line-height:30px;padding:0 20px;cursor:pointer;}
.main-login__box .btn2{background:none;color:#000;border:0;cursor:pointer;}

.method-list{padding:5px;border:1px solid #eee;margin-bottom:10px;border-radius:5px;}
.method-list.checked{}
.method-list .title{float:left;line-height:30px;font-weight:400;font-family:tahoma,arial,sans-serif;}
.method-list .img{float:right;height:30px}
.method-list .img img{max-width: 180px;max-height: 25px;}

.method-card{background:#f8f8f8;padding:15px 8px 8px;margin-top:5px;border:1px solid #eee;font-weight:400;display:none;}
.checked .method-card{display:block;}
.method-card label{display:inline-block;padding:0;margin-right:5px;width:110px}
.method-card label.required em{color:red;margin-right:2px}
.method-card .row{margin-bottom:10px}
.method-card .input-box{display:inline-block;font-weight:400;}
.method-card .input-box input{border:1px solid #ccc;padding:5px;margin-left:3px;width:208px}
.method-card .input-box select{border:1px solid #ccc;padding:5px;font-weight:400;}

.method-none{font-weight:400;line-height:30px;margin-bottom:20px}

.login{text-align:center;}
.login p{margin-bottom:15px;}
.login .row{max-width:400px;margin:0 auto 25px;}
.login .label{line-height:30px}
.login .label.required:before {content: '* ';color: #F00;font-weight: bold;}
.login .input{border:1px solid #ccc;background:#fff;height:38px;padding:6px 12px;color:#555;width:100%;display:block;transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}

.alert{color:red;text-align:center;line-height:30px}

.page-text{max-width:1200px;margin:0 auto;}

.backtop{position:fixed;right:10px;bottom:30px;display:block;cursor:pointer;}
.backtop i{font-size:30px;color:#000066}

/* screen */
@media only screen and (max-width: 1920px) {}
@media only screen and (max-width: 1680px) {}
@media only screen and (max-width: 1600px) {}
@media only screen and (max-width: 1440px) {}
@media only screen and (max-width: 1366px) {}
@media only screen and (max-width: 1280px) {
.main-index .list-item{width:25%}
#lastblog .name{font-size:14px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
#lastblog .image{height:260px;}
}
@media only screen and (max-width: 1152px) {
#lastblog .image{height:220px;}
.lister .col img{margin:0;max-width:100%}
}
@media only screen and (max-width: 1024px) {
#lastblog .image{height:200px;}

.lister .col a .img,
.list-item .img{height:228px;overflow:hidden;text-align:center;}
.lister .col a .img img,
.list-item .img img{max-height:228px;border:0}
}
@media only screen and (max-width: 800px) {

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:12px;vertical-align:baseline;background:transparent;}

.lister .title h2{font-size:18px}

#lastblog .col{width:50%;}
#lastblog .image{margin-bottom:0}
#lastblog .date{display:none;}
#lastblog .name{font-size:12px;margin:0}
#lastblog .detail{font-size:12px;color:#666}

#footer{padding:20px 0;text-align:center;}
#footer .fbox{float:none;width:100%;color:#222}
#footer .fbox{text-align:center;padding:0 5px;margin:0;float:none;width:auto;display:inline-block;margin:0;padding:0}
#footer .fbox h5{display:none;}
#footer .fbox ul{display:inline-block;}
#footer .fbox li{font-weight:400;text-transform:uppercase;line-height:30px;margin-bottom:1px;display:inline-block;margin:0 5px}
#footer .fbox1{margin-bottom:0}
#footer .fbox3{display:none;}
#footer .fbox4{text-align:center;display:none;}
#copyright{margin:0;color:#999;text-transform:uppercase;font-size:11px;line-height:40px;padding:0}

.lister .col{width:46%;margin:10px 2%;text-align:center;}

.col .info .price em{display:block;float:none !important;}
.col .info .time span{font-size:11px !important}

.list-item .price em{display:block;float:none !important;}

.list-item .time span{font-size:11px !important}

.site-prod{border:0}

#ourstory{padding:20px 10px;border-top:1px solid #eee}

.main-index .list-item{width:33.3%}

.list-item{width:50%;text-align:center;}
.lister .col a .img,
.list-item .img{height:228px;overflow:hidden;}
.lister .col a .img img,
.list-item .img img{max-height:228px;border:0}

.main-page{padding:5px}
.main-page h1{font-size:16px;margin:10px 0;text-align:center;}
.main-page .inner{padding:0 10px}
.main-page .inner iframe{max-width:100%}
.main-page__cart{width:100%;padding:10px}

.accordion-box{text-align:left;}
.main-size__box{width:90%;max-width:90%}

.prod-left{float:none;width:100%;padding-top:10px}
.prod-right{float:none;width:100%;padding:0 10px;text-align:center;}
.site-relate h4{text-align:center;}
.site-relate .list-item{width:50%}

.main-checkout__left{padding:10px}
.main-checkout__right{padding:10px}

.main-cart__instructions textarea{width:100%}

.pay-card-line label{display:block;width:100%;}
.pay-box .input-box{width:100%}
.pay-box .input-box input{width:100%}
.pay-box .input-box select{width:35%;margin-left:3px}

.main-cart__right li{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
}

@media only screen and (max-width: 640px) {
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:12px;vertical-align:baseline;background:transparent;}


.lister .col a .img,
.list-item .img{height:180px;overflow:hidden;text-align:center;}
.lister .col a .img img,
.list-item .img img{max-height:180px;border:0}

.main-index .list-item{width:50%}

.main-hot__left .title{font-size:16px}
.main-page h1{font-size:14px;line-height:18px;font-weight:600;color:#000;text-transform:uppercase;}
.main-page .inner{font-size:14px;padding:0 5px}
.page-text p{font-size:14px}
.prod-price{margin-bottom:10px;padding-bottom:10px}
.site-relate h4{font-size:16px}
.prod-right h1{font-weight:400;text-transform:none;font-size:12px}
.prod-price2 .inline-block{}
.prod-right .form-control{width:100%}

.main-cart__left{float:none;width:100%;padding-top:10px}
.main-cart__right{float:none;width:100%;padding-top:10px}
.main-checkout__left{float:none;width:100%;margin-bottom:0;padding-bottom:0}
.main-checkout__left .rows{padding-bottom:0}
.main-page__checkout h4{padding:0;margin-bottom:10px}
.main-checkout__right{float:none;width:100%;padding-top:0}

.coupon-box-inner{top:20%;margin-top:0;margin-left:-160px}
.coupon-box-inner img{width:320px}

#toper{height:auto}
#toper .span{display:block;}

#header{min-height:48px;padding:5px 0 0}
#header .iner{padding:5px 0}
#header .hleft{left:0;top:0px}
#header .hright{right:5px;top:3px}
.mobile-toggle{display:inline-block;}
#header .hright a.userJS{display:none;}

.mobile-toggle{}
#header .logolink img{max-width:200px;max-height:30px;}
#header .hcurrency{display:none;}

#topsale span,
#topsale strong,
#topsale em{display:block;margin-bottom:10px}
#topsale button{display:inline-block;margin-left:0}


#naver .langer{right: 80px;top: 15px;}

#naver{display:none;position:absolute;left:0;top:0;z-index:999;width:100%;height:100%;background:rgba(0,0,0,0.5);padding:0}
#naver .iner{float:left;width:98%;height:100%;background:#fff;padding:15px;overflow:auto;}
#naver .navtool{display:block;position:relative;border-bottom:1px solid #ccc;padding-bottom:10px;margin-bottom:30px}
.navhomeJS{font-size:18px}
.navcloseJS{font-size:20px;position:absolute;right:0;top:0}
.navtop{display:inline-block;margin-left:10px}
.navtool #google_translate_element{position:absolute;}
#naver .navs{padding-right:0;}
#naver .navs {float:left;width:100%;}
#naver .navs .li0{min-height:30px;height:auto;line-height:30px;float:none;position:relative;display:block;border-bottom:1px dotted #eee;text-align:left;}
#naver .navs .a0{display:block;color:#333;font-weight:600;line-height:30px;font-size:14px;padding-right:20px;padding-left:25px;}
#naver .navs .a0:before{font: normal normal normal 14px / 1 FontAwesome;content: "\f0da";position:absolute;left:10px;top:10px;}
#naver .navs .a0 .fa-angle-down{position:absolute;right:6px;top:10px}
#naver .navs .a0:hover{color:#333;background:none}
#naver .subnavs{display:block;position:static;top:0;left:0;z-index:10;padding:0 5px;border:0;box-shadow:none}
#naver .navs .li0:hover .subnavs{display:block;}
#naver .subnavs .li1{line-height:28px;border-bottom:1px dotted #eee;padding-left: 20px;}
#naver .subnavs .a1{display:block;color:#333;line-height:28px;white-space:nowrap;font-size:13px;font-weight:400;text-overflow:ellipsis;overflow:hidden;}
#naver .subnavs .a1:hover{text-decoration:underline;color:#e00}
#naver .socials{position:inherit;float:left;width:100%;text-align:center;margin-top:20px}

.swiper-pagination{bottom:5px}
.swiper-pagination span{width:6px;height:6px;margin:3px}
.lister{padding:0 0 10px 0}
#lastblog{padding:5px}
#lastblog .title,
.lister .title h2{margin:0;font-size:16px}
#lastblog .detail{display:none;}
#search{position:absolute;left:0;top:48px;z-index:20;background:#fff;margin:0;padding:0;display:none;height:38px;border:0;border-radius: 0;-webkit-box-shadow:0px 1px 5px #333;-moz-box-shadow:0px 1px 5px #333;box-shadow:0px 1px 5px #333;}
#search input{line-height:38px}
#search button{height:38px}

.prod-btn{max-width:100%;border-radius:0;}

.main-cart__instructions{display:none;}
.main-cart__right h5{display:none;}
.main-cart__right{border:0}

.backtop i{font-size:20px}

#topsale{display:none;}
.page_home #topsale,
.page_list #topsale,
.page_gglist #topsale,
.page_newlist #topsale,
.page_clist #topsale,
.page_sellers #topsale,
.page_category #topsale{display:block;}

}
@media only screen and (max-width: 480px) {
.main-checkout__left{padding:0}
.list-item .img{height:auto}
#header .hright a{width:32px}
}
@media only screen and (max-width: 414px) {}
@media only screen and (max-width: 375px) {}
@media only screen and (max-width: 360px) {#header .logolink img{max-width:160px;height:auto}}
@media only screen and (max-width: 320px) {}

.TimeCount{width:100%;height:68px;background:#c00;color:#fff;margin:0;padding:0}
.TimeCount .inner{margin:0 auto;max-width:1440px}
.TimeCount .t3{float:left;width:35%;text-align:center;line-height:66px;font-size:36px;font-weight:600;white-space:nowrap;}
.TimeCount .t4{float:left;width:30%;text-align:center;font-size:16px;line-height:24px;padding:9px 0 0;white-space:nowrap;font-weight:600;}
.TimeCount .t0{float:right;width:35%;text-align:center;white-space:nowrap;}
.TimeCount .t0 span{vertical-align:middle;}
.TimeCount .t1{display:inline-block;text-transform:uppercase;font-weight:600;line-height:66px;margin-right:10px;font-size:18px;}
.TimeCount .t2{display:inline-block;height:54px;padding:5px 10px 0;background:#8c0c0c;margin-top:8px}
.TimeCount .t2 i{display:inline-block;padding:0 16px;text-align:center;font-size:12px;font-style:normal;text-transform:uppercase;}
.TimeCount .t2 b{font-size:18px;font-weight:600;color:#ffee00;display:block;line-height:22px}
.TimeCount u{color:#ffee00;font-weight:600;text-decoration:none;border-bottom:1px solid #ffee00;padding-bottom:1px}
@media only screen and (max-width: 1200px) {
	.TimeCount .t2 i{padding:0 10px}
	.TimeCount .t3{font-size:30px;}
	.TimeCount .t4{font-size:14px}
}
@media only screen and (max-width: 1100px) {
	.TimeCount .t1{display:none;}
	.TimeCount .t3{font-size:26px;}
	.TimeCount .t4{font-size:13px;}
	.TimeCount .t0{}
}
@media only screen and (max-width: 980px) {
	.TimeCount .t2{padding:5px 5px 0}
	.TimeCount .t2 i{padding:0 5px;height:50px;font-size:11px;}
	.TimeCount .t2 b{font-size:14px;}
	.TimeCount .t3{font-size:24px;}
	.TimeCount .t4{font-size:12px}
}
@media only screen and (max-width: 890px) {
	.TimeCount .t3{font-size:20px;}
}
@media only screen and (max-width: 600px) {
	.TimeCount .t3{font-size:20px;width:40%}
	.TimeCount .t4{font-size:13px;width:60%}
	.TimeCount .t0{display:none;}
}
@media only screen and (max-width: 480px) {
	.TimeCount{height:80px}
	.TimeCount .t3{font-size:20px;width:100%;line-height:150%}
	.TimeCount .t4{font-size:13px;width:100%;line-height:150%;padding:0}
		.method-card .input-box{width: 100%;}
	.method-card .input-box input{width:100%;height:30px;margin-left:0}
	.method-card .input-box select{width:40%}
}